<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

  * {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .container {
    padding: 2rem;
    width: 40%;
    margin: 1.5rem auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);



  }

  form {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px;
  }

  input {

    padding: 0.8rem;
    margin: 0.4rem 0 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
  }

  button {
    width: 100%;
    padding: 0.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .container1 {
    display: flex;
    gap: 0.4rem;
  }

  .container1 a {
    text-decoration: none;
    color: #45a049;
  }

  @media(max-width:910px) {
    .container {
      width: 85%;

    }
  }
</style>
<script>

</script>

<body>
  <div class="container">
    <h1>Sub-Admin Sign Up</h1>
    <form action="/signup" method="post" id="signup-form">
      
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="email" name="email" placeholder="email" required>
      <input type="text" name="address" placeholder="address" required>
      <input type="text" name="phoneNumber" placeholder="phone number" required>


      <button type="submit">Sign Up</button>
    </form>
    <div class="container1">
      <p>already have an account?</p>
      <a href="/render-login">login here</a>
    </div>

  </div>
</body>

</html>